/*
-----------------------------------------------------
 General styles
-----------------------------------------------------
*/

@font-face
{
    font-family: 'OpenSansRegular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body
{
  font-family: "OpenSansRegular";
}


@font-face
{
    font-family: entypo;
    src: url(entypo/entypo.ttf);
    font-weight:400;
}

.entypo
{
  font-family: entypo;
  display: inline-block;
  vertical-align: text-bottom;
}


input, button, select, textarea
{
  font-family: inherit;
}


*
{
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

input
{
   -moz-user-select: -moz-text;
   -khtml-user-select: text;
   -webkit-user-select: text;
   -ms-user-select: text;
   user-select: text;  
}

fieldset legend
{
  margin-bottom: 0;
}

select 
{
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  background: url('select_arrow.png') no-repeat right center;  
  background-color: white;
  padding: 2px 6px 3px 6px;
  line-height: 26px;
  height: 30px;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border linear .2s,box-shadow linear .2s;
  -moz-transition: border linear .2s,box-shadow linear .2s;
  -o-transition: border linear .2s,box-shadow linear .2s;
  transition: border linear .2s,box-shadow linear .2s;
  font-size: 17px;
  box-sizing: border-box;
  display: inline-block;
  text-align: start;
}

.control-group.error select
{
  border-color: #690001;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #FF0305;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #ff0305;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #FF0305;
}


.pageFixed
{
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

.page-footer
{
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}


header.masthead h1
{
  color: #737e24;
  margin: 20px 0 0px 0;
  font-size: 42px;
  line-height: 28px;
  font-weight: bold;
  text-rendering: optimizelegibility;
  display: block;
}

header.masthead p.lead
{
  font-size: 1em;
  margin-bottom: 0;
}

header.masthead
{
  margin-bottom: 20px;
}


.page-header
{
  padding-bottom: 0;
  margin: 5px 0 10px 0;
  border-bottom: 1px solid #ddd;  

}

.page-header h1
{
  margin-top: 5px;
  font-size: 16px;
  text-align: center;
  line-height: 16px;
}

.page-footer .container 
{
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 7px;
}

.progress-message
{
  text-align: center;
  margin-bottom: 0;
}

.mode-buttons
{
  position: fixed;
  top: 0;
  height: 40px;
  left: 0;
  right: 0;

  text-align: center;

  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #3b3b3b;
  background-image: -moz-linear-gradient(top,#404040,#333);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#404040),to(#333));
  background-image: -webkit-linear-gradient(top,#404040,#333);
  background-image: -o-linear-gradient(top,#404040,#333);
  background-image: linear-gradient(to bottom,#404040,#333);
  background-repeat: repeat-x;
  border-color: #333 #333 #0d0d0d;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff404040',endColorstr='#ff333333',GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.mode-buttons a
{
  color: white;
  display: inline-block;
  height: 100%;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 6px;
  font-size: 15px;
  cursor: pointer;
}

.mode-buttons a.active
{
  background-color: #2a929e;

  box-shadow: 1px 1px 5px #333;
}

.well
{
  padding-top: 8px;
  padding-bottom: 0px;
}

.clock
{
  margin-top: 0;
  color: #2a929e;
  text-align: center;
  font-size: 64px;
  margin-bottom: 0;
  line-height: 24px;
}

.clock .entypo
{
  vertical-align: bottom;
}

button .entypo
{
  font-size: 36px;
}

.btn .entypo
{
  vertical-align: middle;
}

*
{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}

/*
-----------------------------------------------------
 END general styles
-----------------------------------------------------
*/


/*
-----------------------------------------------------
 Settings page styles
-----------------------------------------------------
*/

#inSettingsModeContainer .page-footer
{
  font-size: 0.8em;
}

#clear-details-link
{
  margin-top: 10px;
}

/*
-----------------------------------------------------
 END settings page styles
-----------------------------------------------------
*/




/*
-----------------------------------------------------
 Scan page styles
-----------------------------------------------------
*/

#inScanModeContainer .page-header
{
  position: relative;
}


#refresh-icon-container
{
  position: absolute;
  right: 10px;
  top: -16px;
  font-size: 36px;
}

#refresh-icon-container:active,
#refresh-icon-container:focus
{
  background: inherit;
  outline: none;
}


.scan-results-page-section
{
  position: fixed;
  top: 230px;
  bottom: 110px;
  left: 0;
  right: 0;
}

.vcentered-div-container
{
  display: table;
  height: 100%;
  width: 100%;
}

.vcentered-div
{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.scan-results-page-section .vcentered-div .well
{
  margin-bottom: 0;
  padding-bottom: 4px;
}


.last-check-in-results
{
  margin-bottom: 0;
  text-align: center;
}

.last-check-in-results .thumb-container
{
  line-height: 24px;
}

.last-check-in-results .thumbs-up
{
  font-size: 64px;
  color: #007728; 
}

.last-check-in-results .thumbs-down
{
  font-size: 64px;
  color: #9C0001; 
}

.last-check-in-results .error-message
{
  color: #9C0001;
}

.last-check-in-results .success-message
{
  color: #007728;
}

#scan-button
{
  font-size: 24px;
  line-height: normal;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #2A929E;
  text-align: center;
  color: white;
  height: 70px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  padding-top: 18px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  width: 100%;
  margin-bottom: 4px;
  border-radius: 5px;
  cursor: pointer;
}

#scan-button.scanning
{
  background-color: #16535A;
}

#scan-button.disabled
{
  background-color: #16535A;
}

.scan-result {
  font-size: 14pt;
}


#manual-check-in-btn-container
{
  text-align: center;
}


#manual-check-in-btn-container .btn
{
  padding: 8px 16px;
}


#manual-check-in-btn-container .btn:first-child
{
  margin-right: 4px;
}

#manual-check-in-btn-container .btn:last-child
{
  margin-left: 4px;
}

.event-statistics-bar
{
  color: #333;
  text-align: center;
  font-size: 10pt;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  position: relative;
}

.event-statistics-bar-inner
{
  display: inline-block;
}

.statistic
{
  display: inline-block;
  line-height: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

.statistic span
{
  font-size: 16px;
  line-height: 20px;
}

.venue-count-container
{
  margin-top: 10px;
}

.venue-count-container a
{
  font-size: 32px;
  padding-top: 2px;
}



/*
-----------------------------------------------------
 END scan page styles
-----------------------------------------------------
*/





















/*
-----------------------------------------------------
 Search page styles
-----------------------------------------------------
*/

#searchPageFixedRow
{
  height: 95px;
}

span.clear-search-text-icon
{
  position: relative;
}

span.clear-search-text-icon span
{
  position: absolute;
  display: block;
  top: -2px;
  right: 8px;
  width: 16px;
  height: 16px;
  z-index: 1;
  cursor: pointer;
  font-size: 48px;
  color: #777;
}

span.clear-search-text-icon input
{
  padding-right: 20px;
}

.submit-button-container
{
  float: right;
  margin-left: 10px;
}

.search-input-container
{
  overflow: hidden;
}


.search-input
{
  margin-top: 4px;
}

.disabled-search-input
{
  margin-top: 4px;
  padding-top: 1px;
}

.search-results-panel
{
  overflow-y: auto;
  position: absolute;
  top: 155px;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.search-results-hide-panel
{
  background-color: #f6f6f6;
  top: 155px;
  bottom: 0;
  left: 20px;
  right: 20px;
  position: fixed;
  z-index: 20;
}


.search-results-panel .search-results-hide-panel .well
{
  margin-bottom: 0;
  padding-bottom: 4px;
  text-align: center;
}

.search-page-error
{
  line-height: 24px;
}

.search-page-error .error-message
{
  color: #9C0001;
}

.search-page-error .entypo
{
  font-size: 64px;
  color: #9C0001;
}

.clear-error-btn
{
  margin-bottom: 10px;
  margin-top: 6px;
}

.no-results .well
{
  margin-bottom: 0;
  text-align: center;
  line-height: 40px;
  color: #9C0001;
}

.no-results .well .entypo
{
  font-size: 128px;
}


#found-results
{
  background-color: #ffffff;
}

#found-results .btn.active
{
  -webkit-box-shadow: inset 0 2px 6px rgba(0,0,0,0.5),0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 2px 6px rgba(0,0,0,0.5),0 1px 2px rgba(0,0,0,0.05);
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.5),0 1px 2px rgba(0,0,0,0.05);
  background-color: rgb(190, 109, 18);
}

#found-results .expand-contract-btn-container
{
  padding-top: 10px;
  width: 40px;
  font-size: 54px;
}

#found-results .tickets-container
{
  border-top: none;
}

#found-results .tickets-container .ticket-panel
{
  clear: both;
  margin-bottom: 20px;
  margin-top: 10px;
}

.search-result-expand-btn
{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  width: 40px;
  height: 40px;
  padding-top: 6px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}


.check-in-out-label
{
  display: inline-block;
  padding: 6px 14px;
  line-height: 14px;
  color: black;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-left: 10px;
}

.check-in-out-label.active
{
  background-color: #2a929e;
  color: white;
}

/*
-----------------------------------------------------
 END search page styles
-----------------------------------------------------
*/


/*
-----------------------------------------------------
 Styles for mock camera dialog
-----------------------------------------------------
*/


#mockScannerDialogBackdrop
{
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  filter: alpha(opacity=80);  
  background-color: #000000; 
}

#mockScannerDialogWrapper
{
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*
-----------------------------------------------------
 END Styles for mock camera dialog
-----------------------------------------------------
*/

